work/code/nodeMessage/client/node_modules/*
work/code/nodeMessage/server/node_modules/*
work/code/CommunicationTests/node_modules/*
work/code/Realtime-Simple-Chat-App-master/data
App/Server/node_modules/*
App/Server/data/messages.json
App/Server/data/accounts.json
*.DS_Store

App/Server/data/Log.json
