.login-clean {
  background: #f1f7fc;
}

.credentials {
  background: #f1f7fc;
}

.login-clean form {
  background-color: #ffffff;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean .illustration {
  color: rgb(244,71,107);
}

.login-clean form .form-control {
  background: #f7f9fc;
  border-bottom: 1px solid #dfe7f1;
  color: inherit;
}

.login-clean form .btn-primary {
  background: #f4476b;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #eb3b60;
}


.login-clean form .forgot {
  color: #6f7a85;
  opacity: 0.9;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
}



