:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}


.msger {
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  background: #eee;
  color: #666;
}


.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}


.msg-img {
  background: #ddd;
}

.msg-bubble {
  background: var(--left-msg-bg);
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
}

.msger-inputarea {
  background: #eee;
}


.msger-input {
  background: #ddd;
}

.msger-send-btn {
  background: rgb(87, 159, 251);
  color: #fff;
}

.msger-send-btn:hover {
  background: rgb(87, 170, 270);
}

.msger-chat {
  background-color: #fcfcfe;
  background-image: url([svg]);
}

