.footer-basic {
  background-color: #ffffff;
  color: #4b4c4d;
}


.footer-basic ul a {
  color: inherit;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social > a {
  border: 1px solid #ccc;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  color: #aaa;
}