.box {
  width: 300px;
  margin: 10px auto;
  background: #DCDCDC;
  padding: 5px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #DCDCDC;
  border-right: 10px solid transparent;
  border-top: 10px solid #DCDCDC;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}

.sb2:before {
  content: "";
  color: #FF0000;
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}


#message-container div:nth-child(2n) {
  background-color: #49bdf0;
}

